:root {
  --primary-brand-color-iris: #4d5ae5;
  --pressed-state-color-ocean: #4d5ae5;
  --dark-navy-blue: #2e2f42;
  --success-color-green: #31d0aa;
  --text-color-slate: #434455;
  --subtle-text-color-light-slate: #8e8f99;
  --accent-color-cornflower: #e7e9fc;
  --light-color-cloud: #f4f4fd;
  --modal-overlay-navy-blue-modal: #f4f4fd;
  --hero-background-color-grey: #f4f4fd;
  --white-background-color-white: #ffffff;
  --modal-background-color-dairy: #f4f4fd;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
.container {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
}
.container-bir {
  display: flex;
  border-bottom: 1px solid var(--accent-color-cornflower);
}
/* width: 1440px;
    height: 72px; */
/* justify-content: space-between; 
    padding-right: 156px;
    padding-left: 156px;  
    padding-top: 24px;
    padding-bottom: 24px; 
    align-items: center;
    background-color: var(--white-background-color-white);
    
    


}*/
.header {
  display: flex;
  align-items: center;
}

.container .logo,
.logo-renk-iki {
  /* display: flex; */
  justify-content: start;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color-iris);
  margin-right: 76px;
}
.logo-renk-iki {
  color: var(--dark-navy-blue);
}
.menu {
  display: flex;

  list-style-type: none;
  font-weight: 500;
  gap: 40px;
  /* margin-left: 36px; */
  text-decoration: none;
}
.menu-bir {
  text-decoration: none;
  color: var(--dark-navy-blue);
  padding: 24px 0;
}
.menu-bir:hover {
  color: var(--primary-brand-color-iris);
}
.menu-bir:active {
  text-decoration: underline;
  color: var(--pressed-state-color-ocean);
}
.info {
  display: flex;
  gap: 40px;

  list-style-type: none;
}
.info-list {
  display: flex;
  gap: 40px;
  text-decoration: none;
  list-style-type: none;
}
.info-bir {
  text-decoration: none;
}
.info-bir:hover {
  color: var(--pressed-state-color-ocean);
}
/* Header bitti */
.hero-image{
    padding: 188px 0;

}
.hero-image .container {
  /*  width: 1440px;
  height: 600px;  */
  padding: 188px 0;

  display: flex;
  background-color: var(--dark-navy-blue);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.baslik-bir {
  color: var(--white-background-color-white);
  font-size: 56px;
  font-weight: bold;
  line-height: 1.07;
  max-width: 496px;
  display: flex;
}
.button {
  /* width: 169px;*/
  height: 56px;

  min-width: 169px;

  color: var(--white-background-color-white);
  background-color: var(--primary-brand-color-iris);
  font-weight: 500;
  letter-spacing: 0.042em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: var(--pressed-state-color-ocean);
}

.aciklamalar {
  display: flex;
  /* border: 1px solid red; */
  padding: 120px 0;
}
.visually-hidden {
  display: none;
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.aciklama-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
  list-style-type: none;
}
.aciklamalar-li {
  width: calc((100% - 24px) / 4);
}
.ozellikler {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--dark-navy-blue);
}
.aciklama {
  color: var(--text-color-slate);
}

.takim .container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--light-color-cloud);
  
}
.takim{
    padding: 120px 0;

}
.takim-baslik {
  /* margin: 120px 639px 72px 639px; */
  margin-bottom: 72px;
  color: var(--dark-navy-blue);
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
}
.team-members {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style-type: none;
}
.team-bir {
  background-color: var(--white-background-color-white);
  width: calc((100% - 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.takim-elemanlari {
  padding: 32px 0;
}
.member-name {
  color: var(--dark-navy-blue);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.kariyer {
  color: var(--text-color-slate);
  text-align: center;
}
.portfolyo .container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  
  background-color: var(--white-background-color-white);
}
.portfolyo{
    padding: 120px 0;

}
.portfolyo-baslik {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
  color: var(--dark-navy-blue);
  margin-bottom: 72px;
}
.portfolyo-liste {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolyo-elemanlar {
  width: calc((100% - 48px) / 3);

  /*  border-color: var(--light-color-cloud);
  border-width: 0 1px 1px 1px; */
  text-align: left;
}
.port-uygulama {
  padding: 32px 16px;
  border: 1px solid var(--accent-color-cornflower);
  border-top: none;
  margin-bottom: 8px;
}
.uygulamalar {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-navy-blue);
  margin-bottom: 8px;
}
.uygulama-aciklama {
  color: var(--text-color-slate);
}
.bitis .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}
.bitis {
  background-color: var(--dark-navy-blue);
  padding: 100px 0;

}
.logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo{
    display: inline-block;
}
.logo .footer-logo{
    display: inline-block;
}

.footer-logo-renk-iki {
  color: var(--light-color-cloud);
}
.footer-info {
  width: 264px;
  height: 72px;
  color: var(--light-color-cloud);
  text-wrap: wrap;
}
